body{
    display: block;
    overflow-x: hidden;
}

:root{
    scroll-behavior: smooth;
}

.logo{
    margin-right: 80px;
}

.header{
    height: 100vh;
    /*background-color: #004aad;*/
    background-color: rgba(37,67,120,255);
    /*background-color: #f0e640; AMARILLO
    background-color: #d6c9b6; GRIS*/
    background-image: url(../img/home-background.jpg);
    background-repeat: no-repeat; /*Genera que la imagen no se repita en caso sea pequeña*/
    background-size: cover; /*La adapta al tamaño del fondo para que no se vea pequeña*/
    background-position: center;

}

nav{
    margin-top: 30px;
    margin-left: 100px;
}

.navbar-brand{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

nav ul li a{
    color: #fff;
	margin-top: 30%;
	text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
    /* color: white; */
    font-size: 18px;
    margin: auto 15px;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: rgb(127, 123, 124);
}

.main-logo{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 300px 10px;
}

.slogan{
    margin-left: 5px;
}

.news{
    background-color: #080808;
    padding-bottom: 100px;
}

.news2 {
    background-color: rgb(198, 192, 204);
    margin-bottom: 200px;
}
.newsTitle{
    font-weight: 400;
    margin-left: 620px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.newsLeft{
    background-color: #080808;
}

.newsRight{
    background-color: #080808;
}
.newsLeft2{
    background-color: rgb(198, 192, 204);
}

.newsRight2{
    background-color: rgb(198, 192, 204);
}
.newsLeftText{
    color: #fff;
    margin-left: 10px;
}

.newsRightText{
    color: #fff;
    margin-left: 10px;
}

h4{
    color: #fff;
    margin-bottom: 20px;
    margin-left: 10px;
}

/* .packs{
    margin-left: 5px;
}

.offers{
    margin-left: 5px;
} */

footer{
    /* background: #d6c9b6; */
    background: rgba(28,28,26,255);
    padding-bottom: 0.1;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 30px;
}

.contactanos{
    /* width: 40%; */
    margin-left: 200px;
    color: white;
}

/* .brand{
    color: white;
    font-weight: 400px;
    font-size: 24px;
} */

/* .fut{
    margin-top: 20px;
    width: 20%;
} */

.mail{
    font-size: 18px;
    font-weight: 300;
}

.social-media{
    /* width: 50%; */
    margin-top: 45px;
    display: flex;
    margin-right: 900px;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 15px;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{ /*Efecto para que cuando se pase el mouse por encima cambie de color el icono*/
    background: rgb(204, 204, 204);
    color: rgb(47, 91, 116);
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 10px;
}
